HOST=127.0.0.1
PORT=3000
DB_PATH=./data/conecta.sqlite
DEMO_READ_ONLY=true

# Configurações de Autenticação
ADMIN_TOKEN=cnx
JWT_SECRET=oU7NCyv21$5j).J4>b!o£X/kP[I6jh,idZuD7
JWT_EXPIRES_IN=1h

ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:8081,http://127.0.0.1:8081
